include fastvqa/options/divide/*.yml
include fastvqa/options/divide/ft/*.yml
include fastvqa/options/fast/*.yml
include fastvqa/options/finetune/*.yml
include fastvqa/options/finetune/fast-3d/*.yml
include fastvqa/options/finetune/fast-b/*.yml
include fastvqa/options/finetune/mole/*.yml